body{
    font-family: serif;
}

.main-heading{
    background-color: lightblue;
    color: black;
    text-align: center;
    font-size: 90px;
    font-weight: bold;
    margin-left: -50px;

}

.unordered-list{
    font-size: 40px;

    color: black;
}

.button{
    background-color: black;
    font-size: 30px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.biryani{
    text-align: center;
    font-size: 90px;

}

#biryani-image{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.dis{
    font-size: 50px;
}

p{
    font-size: 30px;
}

ul{
    font-size: 30px;
}

ol{
    font-size: 30px;
}

.biryani-recipe{
    text-align: center;
    list-style-type: none;
    background-color: lightcoral;
    padding-top: 20px;
    border: 5px solid red;
    box-sizing: border-box;
    height: 120px;
    width: 500px;
    margin: 0 auto;
    
}

.chicken-fried-recipe{
    text-align: center;
    list-style-type: none;
    background-color: lightcoral;
    padding-top: 20px;
    border: 5px solid red;
    box-sizing: border-box;
    height: 120px;
    width: 500px;
    margin: 10px auto;
}

.cookies-recipe{
    text-align: center;
    list-style-type: none;
    background-color: lightcoral;
    padding-top: 20px;
    border: 5px solid red;
    box-sizing: border-box;
    height: 120px;
    width: 500px;
    margin: 10px auto;
}